<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/all">See all games</a>
          </li>
          <li>
            <a href="/find_game">Find a game</a>
          </li>
          <li>
            <a href="/insert_game">Insert a new game</a>
          </li>
          <li>
            <a href="/update_game">Update a game</a>
          </li>
          <li>
            <a href="/delete_game">Delete a game</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="<%= status.type %>"><%= header1 %></h1>
      <p class="<%= status.type %>"><%= status.message %></p>
    </main>
  </body>
</html>
