<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Query result</title>
  </head>
  <body>
    <main>
      <h1>Person data</h1>
      <p>Person ID: <%= result.id %></p>
      <p>Name: <%= result.firstname %> <%= result.lastname %></p>
      <p>Department: <%= result.department %></p>
      <p>Salary: €<%= result.salary %></p>
      <a href="/"><button>Go back to menu</button></a>
    </main>
  </body>
</html>
